<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="cuidando do que é nosso">
    <title>CSC Junior Letal</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

<header> 
    <a href="../página-principal/index.html" class="aindex">
    <img src="../Banco de Imagens/logo-removebg-preview.png" alt="Centro Social Comunitário Junior Letal" width="100px">
    <h2>CSC Junior Letal</h2>
    </a>
    <nav>
    <a class="anav" href="../página-principal/index.html">Página-Principal</a>  
    <a class="pagi" href="../agendamentos/index.html">Agendamentos</a>
    <a class="anav" href="../contate-nos/index.html">Fale-Conosco</a>
    <a class="anav" href="../eventos/index.html">Eventos</a>
    </nav>
    </header>   

    <main>

   <section class="agenda">
        <h2>Agende sua consulta</h2>
        <p>Teremos horários das nove da manhã até as cinco da tarde</p>
        <p>Não funcionamos aos finais de semanas e aos feriados</p>
        <div>
            <img src="../Banco de Imagens/IMG-20230125-WA0053.jpg" alt="Centro Social Comunitário Junior Letal">
        </div>
<link href="https://calendar.google.com/calendar/scheduling-button-script.css" rel="stylesheet">
<script src="https://calendar.google.com/calendar/scheduling-button-script.js" async></script>
<script>
(function() {
  var target = document.currentScript;
  window.addEventListener('load', function() {
    calendar.schedulingButton.load({
      url: 'https://calendar.google.com/calendar/appointments/schedules/AcZssZ3plHXqpyTwfF1e4YLDDXvUeoI3vRYt2RvkeUz5LjDrSIQ0ny7PPW9P25qSKfMDJmDdCUxTI5Bc?gv=true',
      color: '#7ab7a0',
      label: 'Agendar uma consulta' ,
      target,
    });
  });
})();
</script>
   </section>

   <aside>
    <div>
      <h2>
        Serviços Oferecidos
      </h2>
    <ul>
      <li>
        Psicólogo
      </li>
      <li>
        Nutricionista
      </li>
      <li>
        Fisioterapelta
      </li>
      <li>
        Médico/clínico geral
      </li>
    </ul>
  </div>
   </aside>
  
    </main>
    <footer>
    <section class="section2">
    <h3>Quem somos?</h3>
    <p>Oferecemos atividades gratuitas que fortalecem os laços e melhoram a vida no bairro Agamenon</p>
    <p>Trabalhamos com profissionais de saúde e direito para garantir que a comunidade tenha acesso aos serviços essenciais</p>
    <p>Organizamos shows, bazares e aulas de zumba que unem e animam a comunidade.</p>
    </section>
    </footer>

</body>
</html>